---
import Layout from '@layouts/app.astro';
// import { Image } from 'astro:assets';
// import page22Image from '../assets/manual_images/page24.jpg';
// import { seedExercises } from '@src/data';
// seedExercises();
---

<Layout title="Welcome">
  <h1>Bowflex App</h1>
</Layout>
