---
import Layout from '@layouts/app.astro';
import { fetchUsers, fetchExercises } from '@/src/data';

const exercises = await fetchExercises();

---

<Layout title="Exercises">
  {exercises.length === 0 && <p>No exercises found</p>}

  {
    exercises.length > 0 &&
      exercises.map((exer) => (
        <div class="flex flex-row text-xs">
          <div class="p-0 basis-1/5">{exer.exer_musclegroup} </div>
          <div class="p-0 basis-3/5 ">{exer.exer_name}</div>
 sessioninput-on-minimac
          <div class="p-0">{exer.exer_page}</div>{' '}
          <div class="p-2">
            <a href=`/app/${exer.exer_page}`
            
             class="bg-green-500 hover:bg-green-600 text-white rounded-full flex items-center justify-center shadow-lg transition-transform hover:-translate-y-1 cursor-pointer p-1"
            >View</a>
            
            


          </div>
        </div>
      ))
  }

</Layout>
