---
import Layout from '@layouts/app.astro';
import { fetchSessions, fetchUsers, fetchExercises } from '@/src/data';
const sessions = await fetchSessions();
---

<Layout title="Sessions">
  {sessions.length === 0 && <p>No sessions found</p>}

  {
    sessions.length > 0 &&
      sessions.map((session) => (
        <div class="flex">
          <div class="p-2 flex-1 w-full">{session.session_date}</div>
          <div class="p-2 capitalize">{session.user_name}</div>

          <div class="p-2">
            <a
              href={`/app/${session.session_id}`}
              class="bg-green-500 hover:bg-green-600 text-white rounded-full flex items-center justify-center shadow-lg transition-transform hover:-translate-y-1 cursor-pointer p-1"
            >
              View
            </a>
          </div>
        </div>
      ))
  }
  <button
    id="button-add"
    class="fixed bottom-6 right-6 w-14 h-14 bg-green-500 hover:bg-green-600 text-white rounded-full flex items-center justify-center shadow-lg transition-transform hover:-translate-y-1 cursor-pointer"
  >
    <span class="text-3xl -mt-1 font-bold">&plus;</span>
  </button>
</Layout>
