---
import Layout from '@layouts/app.astro';
import { fetchUsers, fetchExercises } from '@/src/data';
const users = await fetchUsers();
---

<Layout title="Exercises">
  {users.length === 0 && <p>No users found</p>}

  {
    users.length > 0 &&
      users.map((user) => (
        <div class="flex">
          <div class="p-2 flex-1 w-full">{user.user_name}</div>
          <div class="p-2">{user.user_dob}</div>

          <div class="p-2">
            <form
              action={'/app/tasks/' + user.user_id + '/delete'}
              method="POST"
            >
              <button
                type="submit"
                class="bg-gray-500 text-white text-xs px-1 py-0.5 font-mono rounded-sm cursor-pointer"
                onclick={
                  "return confirm('Are you sure you want to delete this task?')"
                }
              >
                Delete
              </button>
            </form>
          </div>
        </div>
      ))
  }
</Layout>
